<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<div class="contenedor">
    <h2>Editar Estudiante</h2>

    <form action="/actualizar" method="post">
        <input type="hidden" name="id" value="{{ estudiante.id }}">

        <input type="text" name="nombre" value="{{ estudiante.nombre }}" required>
        <input type="text" name="direccion" value="{{ estudiante.direccion }}" required>
        <input type="text" name="ciudad" value="{{ estudiante.ciudad }}" required>

        <button type="submit">Actualizar</button>
    </form>
</div>

</body>
</html>
